.bigYellow-Triangle {
    transform: translateX(-4em) translateY(-3em) rotate(360deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.bigRed-Triangle {
    transform: translateX(1em) translateY(-3em) rotate(90deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.pink-Triangle {
    transform: translateX(-6em) translateY(-7.4em) rotate(290deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.orange-Square {
    transform: translate(6em, -3em);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.green-Parallelogram {
    transform: translateX(2.3rem) translateY(-8.5em) rotate(130deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.purple-Triangle {
    transform: translateX(-6em) translateY(1.4em) rotate(340deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.turquoise-Triangle {
    transform: translateX(0.4em) translateY(2.6em) rotate(150deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

body {
    background-color: rgb(235, 193, 102);
    background-image: url(https://i.pinimg.com/originals/b1/92/28/b19228f0fc6af3a905da6554821421b4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}