.bigYellow-Triangle {
    transform: translateX(-2.5em) translateY(-7.5em) rotate(45deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.bigRed-Triangle {
    transform: translateX(-6.8em) translateY(-4.2em) rotate(270deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.pink-Triangle {
    transform: translateX(-5.5em) translateY(0.8em) rotate(360deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.orange-Square {
    transform: translateX(4.7em) translateY(-7.5em) rotate(45deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.green-Parallelogram {
    transform: translateX(3.3rem) translateY(-2.1em) rotate(45deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.purple-Triangle {
    transform: translateX(7.3em) translateY(-6.6em) rotate(45deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.turquoise-Triangle {
    transform: translateX(0.4em) translateY(-6.8em) rotate(180deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

body {
    background-color: rgb(255, 255, 255);
    background-image: url(https://img.freepik.com/vecteurs-libre/paysage-arctique-illustration-plate-igloo-glace-maison-cabane-neige-montagnes-glace_212168-687.jpg?w=996);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}